.service-icon{
    min-height: 150px;
    min-width: 150px;
    height: 150px;
    width: 150px;
    border-radius: 70px;
    border: solid #364c95 1px;
}

.nav-logo{
    padding: 5px;
    height: 80px;
}

.bold{
    font-weight: bold;
}

/* div.form{
    width:80%;
    display:block;
    align-content: center;
} */

div.form
{
    margin:0 auto;
    width:85%;
    min-width: 550px;
    display:block;
    align-content: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 17.5%;
}

/* html{
    color: #364c95;  //BLUE
    color: #f79c63;  //ORANGE
} */

.text-left{
    text-align: left;
    margin: auto;
    display: inline-block;
}

.round-button{
    border-radius: 8px;
    border: solid 2px white;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    min-height: 50px;
    text-align: center;
    width:fit-content;
    padding: 10px 0;
}

.round-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.no-deco{
    text-decoration: none;
}

.orange{
    background-color: #f79c6325;   
}

.blue{
    background-color: #364c9517;
}

.button{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    /* border: black 1px solid; */
    background-color: #364c95;
    color: white;
    border-radius: 8px;
}

.button:hover{
    background-color: #364c95c7;
    
}

.blue-hover:hover{
    background-color: #364c9548;
    border-radius: 10px 10px 0 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    /* background-image: url("images/background.jpg"); */

    background-image:
        linear-gradient(to bottom, rgba(54, 76, 149, 0.50), rgba(255, 98, 0, 0.95)),
        url('images/background.jpg');
    min-height: 93%;
    box-shadow: inset 0 0 0 2000px rgba(0, 16, 39, 0.7);

    /* #364c95;
    #f79c63; */
}

.w3-bar .w3-button {
    padding: 16px;
}

#map {
    height: 200px;
    /* The height is 400 pixels */
    width: 400px;
    /* The width is the width of the web page */
}


@media only screen and (max-width: 600px){
    .container{
        display:inline;
    } 
    div.form
    {
        width:100%;
        min-width: 200px;
    }
    .nav-logo{
        height: 59px;
    }
    .mobile-padding{
        padding: 20px;
    }

};