:root {
  --main-blue: #364c95;
  --main-orange: #f79c63;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 20;
  font-weight: bold;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 85px;
  resize: none;
  line-height: 1.5;
}

div.form {
  margin: 0 auto;
  width: 85%;
  min-width: 550px;
  display: block;
  align-content: center;
}

a.mobile-nav-item {
  border-radius: 10px 10px 0 0;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

a.mobile-nav-item:hover {
  color: white;
  background-color: var(--main-blue);
  border-radius: 10px 10px 0 0;
}

hr.mobile-line {
  display: none;
  border-radius: 100px;
}

img.service-icon {
  object-fit: cover;
}

#services {
  text-align: center;
  padding-bottom: 3%;
}

#services p {
  margin-top: 0;
}

#map {
  height: 200px;
  width: 400px;
}

.blue {
  background-color: var(--main-blue);
  color: white;
}

.container {
  padding: 64px;
}

/* Used to seperate RHS Google Map from text  */
.padding-left {
  padding-left: 3%;
}

/* Used to seperate LHS text from Google Map  */
.padding-right {
  padding-right: 3%;
}

/* Divides the About Us section into two columns */
.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service {
  background: none;
  color: white;
  margin: 2%;
  padding: 10%;
  border-radius: 5%;
}

.service-icon {
  min-height: 150px;
  min-width: 150px;
  height: 180px;
  width: 180px;
  border-radius: 30px;
}

.five-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav-logo {
  padding: 5px;
  height: 80px;
}

.bold {
  font-weight: bold;
}

.nav-container {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 17.5%;
}

.text-left {
  text-align: left;
  margin: auto;
  display: inline-block;
}

.no-deco {
  text-decoration: none;
}

.large-button {
  padding: 12px 24px !important;
  min-width: 205px;
  text-align: center;
  font-size: 16px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background: none;
  color: #364c95;
  border-radius: 8px;
  border: var(--main-blue) 2px solid;
  font-weight: bold;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

.button-white, .form-button {
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background: none;
  color: #ffffff;
  border-radius: 8px;
  border: #ffffff 2px solid;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

.button-white:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form-button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--main-blue);
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-blue);
  color: white;
  cursor: pointer;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient( to bottom, rgba(54, 76, 149, 0.5), rgba(255, 98, 0, 0.95)), url("images/background.jpg");
  min-height: 93%;
  box-shadow: inset 0 0 0 2000px rgba(0, 16, 39, 0.7);
}

.w3-bar .w3-button {
  padding: 16px;
}

.min-height {
  min-height: 500px;
  height: 93.5%;
}

.nav-container {
  min-width: 640px;
}

.side-black {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.side-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.side-button:hover {
  background-color: rgb(36, 36, 36);
}

.nav-margin {
  margin-top: 59px;
}

.mapouter {
  display: inline-block;
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.map-width {
  height: 500px;
  width: 100%;
}



.burger:hover, .burger:focus {
  background: #364c952f;
}

.burger {
  padding: 16px !important;
}

/*
 *  Mobile view 
 *  (Screen Width <= 600px) 
 */
@media only screen and (max-width: 600px) {
  div.form {
    width: 100%;
    min-width: 200px;
  }

  hr.mobile-line {
    display: block;
    border-top: 3px solid white;
    width: 90%;
    margin: auto;
  }

  .padding-left, .padding-right {
    padding: 0;
  }

  .nav-container {
    display: inline;
  }
  
  .nav-logo {
    height: 59px;
  }
  
  .container {
    padding: 25px;
  }

  .box-inherit {
    box-sizing: inherit;
  }

  .bgimg-1 {
    height: 93%;
    min-height: 700px;
  }

  .map-width {
    width: 100%;
  }

  .mobile-center {
    text-align: center;
  }

  .service {
    width: 80vw;
    margin: 0;
  }

  .five-cols{
    display: inline-block;
  }

  .two-cols {
    display: inline;
  }

  
}

/* 
 *  Tablet and Small Desktop view 
 *  (Screen Width > 600px & Screen Width <= 1320px) 
 */
@media only screen and (max-width: 1320px) and (min-width: 601px) {
  #services {
    text-align: center;
  }

  .service {
    margin: 5% 0 10% 0;
    padding: 0;
  }

  .container {
    padding: 35px;
  }
  
  /* Turns off five column services for tablet */
  .five-cols {
    display: inline-block;
  }

  /* Turns on two column services for tablet */
  .two-cols-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .map-width {
    width: 100%;
  }
}
;