.service-icon{
    height: 200px;
    width: 200px;
    border-radius: 70px;
    border: solid rgb(70, 70, 70) 2px;
}

/* .border-black{
    border: solid black 2px;
}

.border-pink{
    border: solid rgb(253, 62, 237) 2px ;
}

.border-lime{
    border: solid rgb(123, 255, 47) 2px ;
}

.border-cyan{
    border: solid rgb(19, 255, 235) 2px ;
}

.border-purple{
    border: solid rgb(173, 2, 224) 2px ;
} */

.text-left{
    text-align: left;
    margin: auto;
    display: inline-block;
}

.round-button{
    border-radius: 20px;
    background-color: white;
    color: black;
    min-height: 50px;
    text-align: center;
    width:fit-content;
    padding: 10px 0;
}

.no-deco{
    text-decoration: none;
}

.round-button:hover{
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
}
