.service-icon {
    min-height: 150px;
    min-width: 150px;
    height: 150px;
    width: 150px;
    border-radius: 70px;
    border: solid #364c95 1px;
}

img.service-icon {
    object-fit: cover;
}

.nav-logo {
    padding: 5px;
    height: 80px;
}

.bold {
    font-weight: bold;
}

/* div.form{
    width:80%;
    display:block;
    align-content: center;
} */

div.form {
    margin: 0 auto;
    width: 85%;
    min-width: 550px;
    display: block;
    align-content: center;
}

.padding-64-16 {
    padding: 64px 16px;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 17.5%;
}

/* html{
    color: #364c95;  //BLUE
    color: #f79c63;  //ORANGE
} */

.text-left {
    text-align: left;
    margin: auto;
    display: inline-block;
}

.round-button {
    border-radius: 8px;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    min-height: 50px;
    text-align: center;
    width: fit-content;
    padding: 10px 0;
}

.round-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.no-deco {
    text-decoration: none;
}

.orange {
    background-color: #f79c6325;
}

.blue {
    background-color: #364c9517;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: none;
    color: #364c95;
    border-radius: 8px;
    border: #364c95 2px solid;
}

.button:hover {
    background-color: #364c95;
    color: white;
}

a.blue-hover:hover {
    color: white;
    background-color: #364c9594;
    border-radius: 10px 10px 0 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(54, 76, 149, 0.50), rgba(255, 98, 0, 0.95)), url('images/background.jpg');
    min-height: 93%;
    box-shadow: inset 0 0 0 2000px rgba(0, 16, 39, 0.7);
}

.w3-bar .w3-button {
    padding: 16px;
}

#map {
    height: 200px;
    width: 400px;
}

.padding-top {
    padding-top: 10px;
}

.padding {
    padding: 48px;
}

.min-height {
    min-height: 500px;
    height: 93.5%;
}

.container {
    min-width: 640px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: inline;
    }
    div.form {
        width: 100%;
        min-width: 200px;
    }
    .nav-logo {
        height: 59px;
    }
    .mobile-padding {
        padding: 20px;
    }
    .bgimg-1 {
        height: 93%;
        min-height: 700px;
    }
}

;