:root {
  --main-blue: #364c95;
  --main-orange: #f79c63;
}

html {
  font-size: 16px;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.7rem;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 85px;
  resize: none;
  line-height: 1.5;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
  margin: 15px 0;
}

footer a {
  text-decoration: none;
}

.links {
  font-size: 1.6rem;
}

div.form {
  margin: 0 auto;
  width: 85%;
  display: block;
  align-content: center;
}

a.nav-item {
  border-radius: 10px 10px 0 0;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
  font-size: 1.2rem;
}

a.nav-item:hover {
  color: white;
  background-color: var(--main-blue);
  border-radius: 10px 10px 0 0;
}

hr.mobile-line {
  display: none;
  border-radius: 100px;
}

img.service-icon {
  object-fit: cover;
}

#services {
  text-align: center;
}

#map {
  height: 200px;
  width: 400px;
}

p.copyright {
  margin-top: 0;
}

.blue {
  background-color: var(--main-blue);
  color: white;
}

.container {
  padding: 6rem;
}

.nav-container {
  /* padding: 0 64px; */
  min-width: 640px;
  padding: 0 6rem;
}

/* Used to seperate RHS Google Map from text  */

.padding-left {
  padding-left: 3%;
}

/* Used to seperate LHS text from Google Map  */

.padding-right {
  padding-right: 3%;
}

/* Divides the Services section into five columns */

.five-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Divides the About Us section into two columns */

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service {
  background: none;
  color: white;
  border-radius: 5%;
}

.left-service {
  margin-left: 0 !important;
}

.right-service {
  margin-right: 0 !important;
}

.service p {
  margin: 0;
}

.service-icon {
  border-radius: 30px;
  width: 75%;
  height: 75%;
  object-fit: cover;
  /* Equivalent of the background-size: cover; of a background-image */
}

.nav-logo {
  height: 80px;
  padding: 5px 5px 5px 0;
}

.bold {
  font-weight: bold;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 6rem;
}

.text-left {
  text-align: left;
  margin: auto;
  display: inline-block;
}

.no-deco {
  text-decoration: none;
}

.button {
  padding: 1em 2.5em !important;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  width: fit-content;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
  background: none;
  color: var(--main-blue);
  border: var(--main-blue) 2px solid;
}

.button:hover {
  background-color: var(--main-blue);
  color: white;
  cursor: pointer;
}

.button-white, .button-contact-us {
  background: none;
  color: #ffffff;
  border: #ffffff 2px solid;
}

.button-white:hover {
  background-color: rgb(255, 255, 255);
  color: var(--main-blue);
  cursor: pointer;
}

.button-contact-us:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0);
}

.w3-bar .w3-button {
  padding: 16px;
}

.bgimg-1 {
  margin-top: 80px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient( to bottom, rgba(54, 76, 149, 0.5), rgba(255, 98, 0, 0.95)), url("images/background.jpg");
  min-height: 80%;
  box-shadow: inset 0 0 0 2000px rgba(0, 16, 39, 0.7);
}

.min-height {
  min-height: 500px;
  height: 93.5%;
}

.side-black {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.burger {
  height: 55px;
  width: 55px !important;
  padding: 15px !important;
  margin: 2px !important;
  border-radius: 100px;
  text-align: center;
  line-height: 2;
  transition: background-color 0.25s linear;
  transition: color 0.25s linear;
  transition: transform 0.25s linear;
}

.burger:hover, .burger:focus {
  transform: rotate(-90deg);
}

.side-button {
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  margin-bottom: 7px;
}

.side-button:hover {
  background: var(--main-blue);
  padding: 8px 16px;
}

.close-button {
  text-align: right !important;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
}

.mapouter {
  display: inline-block;
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.map-width {
  height: 500px;
  width: 100%;
}

.image {
  position: relative;
  /* padding: 0 8px; */
}

.image__img {
  display: block;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.582);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay:hover, .image__overlay:focus {
  opacity: 1;
}

.image__title {
  font-size: 2rem;
}

/*
 *  Mobile view 
 *  (Screen Width <= 601px) 
 */

@media only screen and (max-width: 601px) {
  html {
    font-size: 10px;
    text-align: center;
  }
  #myNavbar {
    text-align: left;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  p {
    font-size: 1.7rem;
  }
  .large-button, .button {
    font-size: 30px !important;
  }
  #services h4 {
    margin-bottom: 0;
  }
  div.form {
    width: 100%;
    min-width: 200px;
  }
  footer p {
    line-height: 2;
    font-size: 1.5rem;
  }
  footer a {
    padding: 4px;
  }
  hr.mobile-line {
    display: block;
    border-top: 2px solid white;
    width: 75%;
    margin: auto;
  }
  .padding-left, .padding-right {
    padding: 0;
  }
  .mobile-center {
    text-align: center;
  }
  .container {
    padding: 2rem;
  }
  .nav-container {
    display: inline;
    padding: 0 26px;
  }
  .nav-logo {
    height: 59px;
  }
  .links {
    font-size: 1.8rem;
  }
  .box-inherit {
    box-sizing: inherit;
  }
  .bgimg-1 {
    height: calc(100vh - 59px);
    min-height: 500px;
    margin-top: 59px;
  }
  .map-width {
    width: 100%;
  }
  .mobile-center {
    text-align: center;
  }
  .service {
    width: 80vw;
    margin: 2em 0;
  }
  .service-icon {
    width: 60%;
    height: 60%;
  }
  .five-cols, .two-cols {
    display: inline-block;
  }
  .button {
    font-size: 20px !important;
    width: 100%;
  }
  .work-padding {
    margin: 0 0 2rem 0 !important;
  }
  .work-padding-bot {
    margin: 0 0 0 0 !important;
  }
  .w3-row-padding>.w3-col {
    padding: 0;
  }
}

/* 
 *  Tablet and Small Desktop view 
 *  (Screen Width > 600px & Screen Width <= 1320px) 
 */

@media only screen and (max-width: 1320px) and (min-width: 601px) {
  div.form {
    width: 90%;
  }
  #services {
    text-align: center;
  }
  .service {
    margin: auto !important;
    padding: 0;
  }
  .service-icon {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 200px;
  }
  .container {
    padding: 36px;
  }
  .nav-container {
    padding: 0 36px;
  }
  /* Turns off five column services for tablet */
  .five-cols {
    display: inline-block;
  }
  /* Turns on two column services for tablet */
  .two-cols-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .map-width {
    width: 100%;
  }
}